<clr-header class="header header-6" *ngIf="currentUser">
        <div class="branding">
          <a class="nav-link">
            <clr-icon shape="dashboard"></clr-icon>
            <span class="title">ИТО мониторинг</span>
          </a>
        </div>
        
        <div class="header-actions">
             <div class="settings" style="align-items: center;">
                <!--<clr-icon shape="calendar"></clr-icon>-->
                <span class="title">&nbsp;&nbsp;{{clock | async | date:'dd MMMM, HH:mm'}} </span>
            </div>
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger *ngIf="currentUser">
                    {{currentUser.firstName}} {{currentUser.lastName}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>

                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <button (click)="aboutPage.open()" clrDropdownItem>О программе</button>
                    <a class="nav-link" [routerLink]="['/', 'skud']" clrDropdownItem>Настройки</a>
                    <button (click)="onLogout()" clrDropdownItem>Выход</button>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
</clr-header>

<nav class="subnav" [clr-nav-level]="1" *ngIf="currentUser">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/', 'skud']">Статистика СКУД</a>
      <!-- <a class="nav-link active" href="#"></a> -->
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/', 'monitoring']">Мониторинг оборудования</a>
      <!-- <a class="nav-link" href="#">Мониторинг оборудования</a> -->
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/', '']">IP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/', '']" *ngIf="isAdmin()">Пользователи</a>
    </li>
  </ul>
</nav>

<app-about #aboutPage></app-about>
