.round {
  border-radius: 24px; /* Радиус скругления */
  // border: 3px solid green; /* Параметры рамки */
  // box-shadow: 0 0 7px #666; /* Параметры тени */
}

.photo {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.personPhoto {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.table td {
  vertical-align: middle;
}

.table {
  border-bottom-width: 0px;
}

.table td.left, .table th.left {
  padding-left: 0.5rem;
}

.table td.left {
  padding-right: 0.25rem;
}

.right-th-icon {
  text-align: right;
}

.table th {
  font-size: .5rem;
  vertical-align: middle;
}

.table td.employee{
  color: #ff9c00;
}

.search-emp-form {
  padding-top: 0;
}

.search-emp-input, .ng-dirty, .ng-valid, .ng-touched, .ng-untouched {
  border-bottom: none;
  width: 100%;
}

::ng-deep .clr-form-control {
  margin-top: 0rem;
}

::ng-deep .clr-input {
  border-bottom: none;
  font-family: "Metropolis","Avenir Next","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
}

::ng-deep .clr-control-container {
  width: 100%;
}

clr-icon {
  height: 22px;
  width: 22px;
}

.is-loading ::ng-deep .mat-option-text {
  position:relative;
  display: flex;
  justify-content: center;
}

.hide-autocomplete { 
  display: none; 
}

::ng-deep .mat-autocomplete-panel {
  background-color: #22343c;
}

::ng-deep .mat-option {
  font-family: "Metropolis","Avenir Next","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  color: #adbbc4;
}

::ng-deep .mat-option.mat-active {
  color: #fcfcfc;
}

::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
   min-width:250px;
}
