<div>
    <table class="table table-compact">
        <thead>
            <tr>
                <th class="left">Камера главного входа </th>
                <th class="right-th-icon"><clr-icon shape="video-camera"></clr-icon></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="camera" colspan="2">
                    <div class="clr-row">
                        <div class="clr-col-xl-12 clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <canvas id="video-canvas"></canvas>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>