/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: #1B2A32;
  height: 100%;
}
.main-container .content-container .content-area {
  padding: 0rem 1rem 1rem 1rem;
  padding-bottom: 0;
}

.app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.app-loading .spinner {
  animation: rotate 1s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
